.main img{
    width: 100%;
}

.model{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.5);
}

.model .container{
    position: absolute;
    width: 404px;
    height: 512px;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 6px;
}

.model .container .close{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -8px;
    right: -8px;
    border: 2px solid #fff;
    cursor:pointer;
}